In [7]:
age = 21
print("You are " + str(age) + " years old") # String concatenation
print("You are", age, "years old") #seperate argument
print(f"You are {age} years old") # f-string use

You are 21 years old
You are 21 years old
You are 21 years old

Integer

In [2]:
age = 21
players = 2
quantity = 5

print(f"You are {age} years old")
print(f"There are {players} players online")
print(f"You would like to buy {quantity} items")

You are 21 years old
There are 2 players online
You would like to buy 5 items

Float

In [4]:
gpa = 3.2
distance = 2.5
price = 3.50

print(f"Your gpa is {gpa}")
print(f"You ran {distance} km")
print(f"Your meal deal is £{price}")

Your gpa is 3.2
You ran 2.5 km
Your meal deal is £3.5

String

In [5]:
Name = "Abdulahi Yusuf"
food = "burger"
email = "mynan69@gmail.com"

print(f"Hello {Name}")
print(f"You like {food}")
print(f"Your email is: {email}")

Hello Abdulahi Yusuf
You like burger
Your email is: mynan69@gmail.com

Boolean

In [7]:
online = True
for_sale = False
running = True

print(f"You are {online}")
print(f"Is the item for sale?: {for_sale}")
print(f"Game running: {running}")

if running:
    print("The game is running")
else:
    print("The game is over")

You are True
Is the item for sale?: False
Game running: True
The game is running

Shorter way to make variables

In [10]:
x,y,z = 1,2,3
print(x)
print(y)
print(z)

a = b = c = 4
print(a)
print(b)
print(c)

1
2
3
4
4
4

Typecasting = Converting a value of a data type to another

In [ ]:
name = "Abdi"
age = 22
gpa = 2.4
student = True

print(type(age))
print(type(gpa))
print(type(student))
print(type(name))

age = float(age)
print(age)
print(type(age))

gpa = int(gpa)
print(gpa)
print(type(gpa))

student = str(student)
print(student)
print(type(student))

name = bool(name)
print(name)

Implicit Typecasting - Data values can be converted via certain operations

In [19]:
x = 2
y = 2.0

x = x/y
print(x)

1.0